.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000b3;
  color: white;
  padding: 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.header-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 10px;
  margin-right: 3rem;
}

.header-right button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.login-button {
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.header-right button:hover,
.login-button:hover {
  opacity: 0.6;
}

.header-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 1rem;
}

.header-mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #000000b3;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.header-mobile-menu button {
  margin: 10px 0;
}

.header-mobile-menu.open {
  display: flex;
  max-height: 500px;
  margin-top: -0.29rem;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-right {
    display: none;
  }

  .header-menu-icon {
    display: block;
  }

  .header-mobile-menu {
    display: flex;
    max-height: 0;
  }

  .header-left {
    margin-left: 1rem;
  }
}
