.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000b3;
  color: white;
  padding: 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.hidden {
  transform: translateY(-100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  margin-left: 5rem; /* Ajuste o espaçamento à esquerda */
}

.header-title {
  font-size: 24px;
  margin: 0;
}

.header-right {
  display: flex;
  gap: 10px;
  margin-right: 3rem; /* Ajuste o espaçamento à direita */
}

.header-right button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.3s ease; /* Adiciona a transição de opacidade */
}

.loginButton {
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.3s ease; /* Adiciona a transição de opacidade */
}

.header-right button:hover,
.loginButton:hover {
  opacity: 0.6; /* Reduz a opacidade ao passar o mouse */
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column; /* Alinha itens verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
    padding: 10px; /* Adiciona um espaçamento interno */
  }

  .header-right {
    margin-top: -2.16rem;
    margin-right: -9rem;
    gap: 5px;
}
  .header-right button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 3px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
  }
  .header-title {
    font-size: 22px;
    margin: 0;
  }
  .header-left{
    margin-left: -14rem;
  }
}
